---

---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>blog</title>
    </head>
    <body>
        <a href="/">home</a>
        <a href="/about">sobre_mi</a>
        <a href="/blog">blog</a>

        <h1>blog personal</h1>
        <p>esta es la pagina inicial de practica.</p>
        <p>aqui se postea los avances que aprenda sobre astro.</p>
    </body>
</html>